---
title: Managing Motivation
date: 2017-05-17
author: Joe Thoresen
location: CARNEGIE, Pa.
category: Leadership Development Insights
tags: Cornerstone, Joe Thorensen
---

<p>
  “When I become a manager, how can I motivate my team?” It’s a question that almost always occurs during the leadership skill-building sessions we conduct to prepare high-potential individual contributors for first-level management.
</p>

<p>
  To keep things behavioral, we respond with, “How do you know when people are motivated? What do motivated individuals do?” After discussion, each group independently comes up with about the same things—motivated people are self-starting, have high work standards, need little or no supervision, seek to achieve or exceed goals, identify and suggest ways to solve problems, etc. In summary, they describe people who perform independently at high levels, are personally involved in their work, and seem to derive personal satisfaction, if not pleasure, from a job well done. They describe “unmotivated” people as employees who need frequent supervision to stay on track, respond to problems with excuses instead of solutions, have either a neutral or a negative impact on the team, complain about things they can’t change, etc. Performance of these people may or may not be satisfactory, but they seldom perform at high levels for extended periods.
</p>

<p>
  To expect new or even seasoned managers to somehow create motivated individual contributors like the ones described above seems highly ambitious if not unrealistic. Yet it does happen; the question is how.
</p>

<p>
  Motivational speakers operate under the assumption that if people are “motivated,” their performance will improve. Intuitively that seems to make sense. We certainly can’t expect high performance from unmotivated people. Another school of thought also recognizes the relationship between motivation and performance, but suggests that it is reversed. In other words, improvement in performance can result in increased motivation. That also makes sense. Think about it. As human beings, we naturally seek to achieve. It’s all around us and begins very early. Little leaguers keep track of batting averages even if teams do not. Sales people display award plaques, and every high school has a trophy case. Success is personally rewarding-it makes us “feel good.” We have “bragging rights.” Some very influential psychologists have postulated that our species has a basic need to achieve.
</p>

<p>
  Now let’s go back to the original question. “When I become a manager, how do I motivate my team?” In the first place, not every member of your team will need to be “motivated.” Some will already be “motivated,” and I bet they will be performing well. Others not so much. But what if you could lead and train these others so that their performance improves and results in such things as high performance ratings, increased respect from customers, recognition from peers, additional income, etc.? In other words, improvements in job performance result in things that are personally rewarding and “feel good.” Job satisfaction improves. If that happens, it is not much of a stretch to expect that these same people become more self-starting, improve their work standards, require less supervision, become better team members, identify and solve more problems, become more involved in their work, etc.
</p>

<p>
  In other words, become&#8230;
</p>

<p>
  That’s right-one way for managers to impact motivation is to help their reps achieve.
</p>

<p>
  Click here to read more of Joe Thoresen's <%= link_to 'Leadership Development Insights', '/leadership_development_insights.html' %></a>
</p>
