---
title: Managing Motivation (part 2)
date: 2017-05-31
author: Joe Thoresen
location: CARNEGIE, Pa.
category: Leadership Development Insights
tags: Cornerstone, Joe Thorensen
---

<p>
  When thinking about why people do things, it can be useful to distinguish between the popular use of the term “motivation” and stimulation. The first blog of this series described the case for a manager positively impacting the “motivation” of subordinates by helping them perform effectively and achieve success. The positive feelings associated with success support or reinforce the activities that generated it and increase the likelihood that they will continue. People derive intrinsic satisfaction from doing things well and motivation becomes <strong><i>internal.</i></strong>
</p>

<p>
  But what if there are barriers to the performance→motivation relationship? What if there is a problem with “job fit”—job content is not compatible with the employee’s interests and values? What if the person only looks upon the job as a source of income and is neither interested in or derives pleasure from its content? In that case, job success is less likely to result in positive “motivation” because job content has little natural value to the person.
</p>

<p>
  Although the likelihood of a “motivated” employee in this situation is greatly reduced, it is not impossible. People can be stimulated, at least for a short period of time, to perform a task that will result in a valuable external reward or benefit (e.g. a raise, a bonus, a contest reward, etc.). The performance of the task may not be internally satisfying or motivating, but the external rewards are sufficiently valuable to drive the desired activity. The problem with this carrot-and-stick approach is that it requires more and larger carrots attached to shorter and shorter sticks. <strong><i>Because it is external, it is not self-sustaining.</i></strong>
</p>

<p>
  The almost impossible challenge for the manager is to help the employee convert from dependence on external rewards to internal ones where effective performance becomes somehow satisfying and motivational.  Or help the employee find a job that is compatible with his or her interests and values. Anything associated with this situation is, at best, inefficient, time consuming, and frustrating for the manager.  Far better to shortcut this problem by hiring people who are naturally interested in job content. Where “job fit” makes motivation to perform easier to achieve, not more difficult. Sounds like the subject of a future blog.
</p>

<p>
  Click here to read more of Joe Thoresen's <%= link_to 'Leadership Development Insights', '/leadership_development_insights.html' %></a>
</p>
