---
title: Managing Motivation (part 3)
date: 2017-06-27
author: Joe Thoresen
location: CARNEGIE, Pa.
category: Leadership Development Insights
tags: Cornerstone, Joe Thorensen
---

<p>
  The first blog in this series introduced the performance&#x2192;motivation relationship which suggested that an effective way to improve motivation is to help people succeed. Success is usually rewarding to members of our species. Typically, it results in positive feelings and an increase in the likelihood that the behavior that drove the success will continue. The second blog brought up the difference between stimulation and motivation and stressed the power of internal rewards over external ones. It also introduced the concept of “job fit.”
</p>

<p>
What kid has not been asked (many times) “What do you want to be when you grow up?” The popularity of the question validates its importance—and note the focus of the question is on <strong><i>“be”</i></strong> not <i>“do.”</i> The response is most likely a profession or a trade — “be” a fireman, teacher, policeman, nurse, lawyer, mechanic, etc. What we do can have a major impact on who we are—or maybe it’s reversed. For this discussion, it doesn’t matter—either way the two issues are related and important.
</p>

<p>
  Inexplicitly, some people know at a very young age what they want to “be.” Some figure it out in high school. In our culture, career decisions become serious after high school. That can be difficult. As a late teen, few of us know much about the “world of work” and the choices of what to “be.” Many just cast about or do the “expected” thing. College—no college. If college, what to study. Many change majors. When they graduate, what job to look for. Something of genuine interest or anything to pay off debt. Or what’s available. It should be no surprise when people find themselves in jobs and/or circumstances that do not really interest them.
</p>

<p>
  <strong><i>Bad job fit.</i></strong>
</p>

<p>
  What happens next depends a lot on the person and the degree of the mismatch. Some find more agreeable jobs. Second careers have become almost commonplace. Others make accommodations and find at least some aspects of their work that is rewarding. Others struggle and eventually see their work as a means to an end. In this situation motivation through performance is difficult to achieve. Performance of work perceived as interesting or of value has much more power in the performance&#x2192;motivation relationship than performance of a “job” that has little or no intrinsic value to the employee.
</p>

<p>
  So, this is another part of the answer to the original question about how to keep employees “motivated.” Managers with hiring responsibility should not assume that job applicants have self-screened the job and are truly interested in doing it. “Job fit” is another variable to interview for when making a hiring decision. But how to do it?
</p>

<p>
  First, plan your interview carefully from what you know of the applicant and look for a pattern of positive involvement in activities similar to or at least logically related to those they will engage in on the job. Seek additional information in these areas during the interview. Describe job content, activities and challenges in <strong><i>detail</i></strong> to candidates. Be candid. When interviewing for “job fit” you are not selling the job. If anything, just the opposite. Stress the things that have given job holders problems in the past. In addition, it is best to view “job fit” as non-compensatory. The “job fit” evaluation should not be averaged with evaluations of other variables to create an overall interview score. Strong “analytical skills” will not compensate for dislike of job content. In addition, set a high bar for performance on this variable. Interviews are not known for accuracy and better to have false negatives on “job fit” than false positives. Better to reject some candidates who would have liked the job than hire some who will not.
</p>

<p>
  Second, if at all possible, integrate a <strong><i>realistic job preview</i></strong> into the hiring process. Let candidates observe and interview someone performing the job. Even more powerful would be an opportunity to engage in some aspect of the job. Even if it is vicarious and created through simulation. 
</p>

<p>
  Under the acrylic cover on my desk is a piece of paper from a fortune cookie with the message:
</p>
<blockquote>
  <strong><i>“I hear and I forget. I see and I remember. I do and I understand.” </i></strong>
</blockquote>

<p>
  It also has my “lucky numbers” on the back. However, luck is not an appropriate subject to address in this setting. One of the goals of my profession is to minimize the influence of luck in the careers of managers.
</p>

<p>
  Science is better.
</p>

<p>
  Click here to read more of Joe Thoresen's <%= link_to 'Leadership Development Insights', '/leadership_development_insights.html' %></a>
</p>
