body {
  margin:0;
  padding:0;
  /* background-image: url(../images/blur4.jpg); */
  /*  background-image: url(../images/rd.jpg); */
  background-repeat:no-repeat;

}




#spacer {
	line-height:10px;
}


input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:50px;
	height:45px; 
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	/* font-size:14pt; */
	/* vertical-align:middle; */
	cursor:pointer;
}
						
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -45px;
}

label.css-label {
	background-image: url(../images/csscheckbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
			


#firstname, #lastname, #email {
    height:18px;
    font-size:12pt;
}

#rcorners2 {
    border-radius: 7px;
    border: 2px solid #000;
    padding: 10px; 
    width: 95%;
	background: #BBC3AB;
    height: auto;    
}
 
input {
  -moz-border-radius: 15px;
 border-radius: 5px;
    border:solid 1px black;
    padding:10px;
}

::-webkit-input-placeholder {
   color: eee;
   font-size: 1.3em;
   font-family: 'Roboto', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: eee;
   font-size: 1.3em;
   font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: eee;
font-size: 1.3em;   
font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {  
   color: eee;
font-size: 1.3em; 
font-family: 'Roboto', sans-serif;  
}

textarea {
  -moz-border-radius: 15px;
 border-radius: 5px;
    border:solid 1px black;
    padding:10px;
	width: 95%;
	font-size: 14px;
}

 h2 {
 font-family: 'Roboto', sans-serif;
 font-weight:400;
/*  color: #006B24; */
 font-size: 2em;
 text-shadow:0px 0px 10px  #FFF;
 }
 
 h3 {
 font-family: 'Roboto', sans-serif;
 font-size: 1.3em;
 font-weight:400;
 color: #7F1D29;
 line-height: 75%;
 }
 

hr {
	display: block;
    background: transparent;
    width: 100%;
    border-top: solid 1px #aaa;
	border: none;
    height: 1px;
    color: #7F1D29; /* old IE */
    background-color: #7F1D29; /* Modern Browsers */
	
}

.demoHead { 
  display:block;  
  margin-bottom:10px;   
  border: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom:10px;    
  border-bottom: 1px solid #CCC;
  font-family: 'Roboto', sans-serif;
  color: #5A5655;   
  background-color: #000;    
}
.demoHead .demoExampleLinks {
  text-align:center;
}
.demoHead h1,.demoHead h2,.demoHead h3{
  margin-top:0;
  margin-bottom:0;
  margin-left:25px;
  padding-top:0;
  padding-bottom:0;
}
.demoHead h1{
  font: bold 22px Verdana, Arial, Helvetica, sans-serif;
}
.demoHead h2{
  font: bold 18px Verdana, Arial, Helvetica, sans-serif;
}
.demoHead h3{
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.demoHead a.btn{
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  background            : #7D7D7D;
  color                 : #FFF;
  margin                : 2px 2px 0px 2px;
  padding               : 5px 12px 5px 12px;
  text-align            : center;
  border                : 1px solid #7D7D7D;    
  text-decoration       : none; 
}
.demoHead .demoNavLinks a.btn {
  color:#FFF;
  background: #8CC63F;
  border: 1px solid #8CC63F;
}
.demoHead a.btn:hover{
  background      : #EA8511;
  color           : #FFFFFF;
  border          : 1px solid #EA8511; 
  text-decoration : none; 
}
.demoHead .demoNavLinks a.btn:hover {
  color:#5A5655;
  background: #8CC63F;
  border: 1px solid #5A5655;
}
.demoHead a.selected{
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  background            : #EA8511;
  color                 : #FFFFFF;
  margin                : 2px 2px 0px 2px;
  padding               : 5px 12px 5px 12px;
  text-align            : center;
  border                : 1px solid #EA8511;    
  text-decoration       : none; 
}



