---
title: Cornerstone Management Resource Systems promotes Carl Thoresen, Ph.D., to President
date: 2016-10-16 20:46 UTC
author: Kim M. Catania
location: CARNEGIE, Pa.
category: Press Releases
tags: Cornerstone, Carl Thorensen
---

<p>
  <em><%= current_page.data.location %>, <%= current_page.date.strftime('%b %e %Y') %></em> - Cornerstone Management Resource Systems Announces New President
</p>
<p>
  Carl Thoresen, Ph.D., Announced as New President
</p>
<p>
  Cornerstone Management Resource Systems, which specializes in experiential Leadership Development programs, announced the appointment of Carl Thoresen, Ph.D., to President. In this role, Dr. Thoresen will be primarily responsible for content development that assists current and future leaders to build and extend their management skills. In addition to overseeing the implementation of all Task-Based Assessment Centers, Dr. Thoresen warrants that the content and delivery of all Cornerstone programs meet the highest professional and ethical standards.
</p>
<p>
  “Carl’s research-oriented perspective to the design and implementation of Cornerstone’s unique methodology is instrumental in customizing our programs,” stated Joe Thoresen, Cornerstone Founder.
</p>
<p>
  As an internationally recognized author and researcher on employee selection, job attitudes, employee assessment, and the role of personality in job performance, Carl’s expertise in training and in-depth experiences in test development are critical to each program’s success.
</p>
<p>
  Carl joined the Cornerstone team after working as Assistant Professor of industrial/organizational psychology at Tulane University. He has extensive training and experience in test development and validation. After graduating from Northwestern University, Carl earned an M.S. degree in organizational behavior from Cornell University. He later completed his Ph.D. in human resource management with a minor concentration in personality and social psychology at the University of Iowa.
</p>
<p>
  <strong>About Cornerstone Management Resource Systems</strong><br>
  Founded in 1983, Cornerstone custom-designs and implements Leadership Development programs for life science organizations that include sales, marketing, managed markets and medical affairs. The Cornerstone process assists in the identification of potential leaders, provides realistic job previews to boost skills, and affords the opportunity to demonstrate readiness before promotion. For more information, visit <a href="www.leadwithcornerstone.com">www.leadwithcornerstone.com</a>
</p>
