@charset "utf-8";
@import "normalize";

@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar_bkcolor: #0D1534;
$navbar_color: #FFCC00;

.cornerstone_nav {
  .navbar {
    background-color: $navbar_bkcolor;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
  }
  .navbar-inverse .navbar-nav li a {
    color: $navbar_color;
    &:hover {
    color: #FFFFFF;
    }
  }
}

/* Header */
/* #head { background:#181015 url( ../images/bg_header.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; } */


#head {
  background:#181015 url( ../images/blur2.0.jpg) no-repeat;
  background-size: cover;
  min-height: 520px;
  text-align: center;
  padding-top: 96px;
  color:white;
  font-family: "Open sans", Helvetica, Arial; font-weight:300;
}
#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top:0px;
}
#head .lead {
  font-family: "Open sans", Helvetica, Arial; font-size: 44px;
  margin-bottom:6px; color:white; line-height:1.15em;
}
#head .tagline {
  color: rgba(255,255,255,0.75);
  margin-bottom:25px;
}
#head .tagline a {
  color:#fff;
}
#head .btn {
  margin-bottom: 10px;
}
#head .btn-default {
  text-shadow: none;
  background:transparent;
  color: $navbar_color;
  -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: inset 0px 0px 0px 3px darken($navbar_color, 15%);
  background: transparent; }
#head .btn-default:hover,
#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
#head .btn-default:active,
#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
  #head { min-height:420px; padding-top:160px; }
  #head .lead { font-size: 34px; }
}


/* Javascript read more functionality */
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/* Autohide navbar */
// .slideUp { top:-100px; }
// .headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:3px; }
.h-caption { margin-bottom:19px; line-height:50%;}
.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:2px;}
.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:2px; }
.h-caption .h4a { color:#382526; font-size: 24px; margin:0 0 0 0;}
.h-caption h5 { color:#382526; font-size: 16px;  margin-bottom:2px; }
.h-body {
  padding: 4px;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.linea{border-style: solid;color:#000080; border-width: 1px; margin-top:13px;}
.lineb{border-style: solid;color:#8E2323; border-width: 1px;margin-top:13px;}
.linec{border-style: solid;color:#FF7722; border-width: 1px;margin-top:13px;}
.lined{border-style: solid;color:#FFAA00; border-width: 1px;margin-top:13px;}

/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:6px; }

/* Colors for step graphic process */
.h2a { color:#000080; font-weight: 700;}
.h2b { color:#8E2323; font-weight: 700;}
.h2c { color:#FF7722; font-weight: 700;}
.h2d { color:#FFAA00; font-weight: 700;}

#imgbordera {padding:1px;
   border:1px solid #000080;
   border-width:1px 1px 21px 1px;
    text-align: center;}

#imgborderb {padding:1px;
   border:1px solid #8E2323;
   border-width:1px 1px 21px;
    text-align: center;}

#imgborderc {padding:1px;
   border:1px solid #FF7722;
   border-width:1px 1px 21px;
    text-align: center;}

#imgborderd {padding:1px;
   border:1px solid #FFAA00;
   border-width:1px 1px 21px;
    text-align: center;}

.h4a { font-family:"Open sans", Helvetica, Arial;color:#999;}
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 15px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
.sidebar .widget { margin-bottom:20px; }
.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; }

/* Footer */
.footer1 { background: $navbar_bkcolor; padding: 30px 0 0 0; font-size: 12px; color: #999; }
.footer1 a { color: $navbar_color; }
.footer1 a:hover {color: #fff; }
.footer1 .widget { margin-bottom:30px; }
.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
.footer1 .entry-meta a { color: #333333; }
.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
.follow-me-icons { font-size:30px; }
.follow-me-icons i { float:left; margin:0 10px 0 0; }

.footer2 { background: $navbar_bkcolor; padding: 15px 0; color: #777; font-size: 12px; }
.footer2 a { color: $navbar_color; }
.footer2 a:hover { color: #fff; }
.footer2 p { margin: 0; }

.widget-simplenav { margin-left:-5px; }
.widget-simplenav a{ margin:0 5px; }

.rday1head {
  padding-top: 48px;
}

// Team Modal Buttons
.btn-team {
  margin: 0 auto;
  margin-top: 2em;
  padding: 0px;
  background-color: #ffffff;
  border: none;
}

// Gallery
.gal-container{
  padding: 12px;
}
.gal-item{
  overflow: hidden;
  padding: 3px;
}
.gal-item .box{
  height: 350px;
  overflow: hidden;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.gal-item a:focus{
  outline: none;
}
.gal-item a:after{
  content:"\e003";
  font-family: 'Glyphicons Halflings';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
  opacity: 1;
}
.modal-open .gal-container .modal{
  background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
  padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
  outline: none;
}
.modal-open .gal-item button.close span{
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow:none;
}
.gal-container .modal-dialogue{
  width: 80%;
}
.gal-container .description{
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: left;
}
.gal-container .description h4{
  margin:0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
