<% wrap_layout :leadership_developments do %>
  <div class="container blog_container" style="padding:4em 2em 2em 2em;">
    <div class='row'>
      <div class='col s12'>
        <header>
          <h3 style="padding-top: 2em;"><%= current_article.title %></h3>
          <p>By <%= current_article.data.author %></p>
          <p>Published <time><%= current_article.date.strftime('%b %e %Y') %></time></p>
        </header>
        <article>
          <%= yield %>
        </article>
      </div>
    </div>
  </div>
<% end %>
