---
title: "Video: Worldwide Business with kathy ireland®"
date: 2016-12-07
author: Cornerstone Management Resourse Systems
location: CARNEGIE, Pa.
category: News
tags: Cornerstone, Carl Thorensen, Joe Thorensen, Kathy Ireland
---
<p> Joe and Carl Thoresen explores Cornerstone’s approach to building great business leaders with host Kathy Ireland.</p>

 <div class="holds-the-iframe">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JKXXtVwzfdU?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
