<article class="col-sm-12 news-pad-bottom">
  <h3 class="text-left">
    <a style="color:#28324E;" href="<%= article.url %>"><%= article.title %></a>
    <i class="fa fa-link"></i>
  </h3>
  <p>
    <time><%= article.date.strftime('%b %e %Y') %></time>
  </p>
  <div style="margin-left:1em;">
    <%= article.summary %>
  </div>
</article>
