---
title: Cornerstone | About Page
---
<!-- container -->
<div class="container">
<div class="row">
  <article class="col-sm-8 maincontent">
    <br>
    <h3>Memberships</h3>Cornerstone maintains current memberships with the following organizations:<br>
    <br>
    <ul>
      <li>
        <a href="http://www.l-ten.org">LTEN: Life Science Trainers & Educators Network - Preferred Industry Partner (PIP)</a>
      </li>
      <li>
        <a href="http://www.aomonline.org">Academy of Management</a>
      </li>
      <li>
        <a href="http://www.astd.org">ATD: Association for Talent Development – formerly ASTD (The American Society for Training & Development)</a>
      </li>
      <li>
        <a href="http://www.siop.org">SIOP: Society for Industrial and Organizational Psychology</a>
      </li>
      <li>
        <a href="http://www.shrm.org">Society for Human Resource Management</a>
      </li>
    </ul><br>
    <hr>
    <h3>Request Our White Papers</h3>Cornerstone is professionally committed to creating effective, research-based solutions to our clients’ need to identify and prepare top talent to become effective leaders and managers. Our system is based on peer-reviewed, published research and on basic statistical principles universally recognized as tools for studying and evaluating this type of material. This approach protects organizations from investing in programs that appear effective but do not pass the test of time.<br>
    <br>
    To learn more about why we do what we do and how we are different from (and more effective than) traditional assessment centers, <%= link_to 'click here', '/contact.html' %> to request a copy of our white papers:<br>
    <br>
    <i class="fa fa-file-o"></i>&nbsp;<span style="font-style:italic; font-weight: bold">Why We Are Different</span><br>
    <i class="fa fa-file-o"></i>&nbsp;<span style="font-style:italic; font-weight: bold">Much, Much More Than Your Father's Assessment Center</span>
  </article>

  <aside class="col-sm-4 sidebar sidebar-right">
    <div class="widget">
      <h4>Client Experiences</h4>
      <ul class="list-unstyled list-spaces">
        <li><span class="small text-muted"><img alt="boehringer" src="/images/boehringer.jpg"></span></li>
        <li><span class="small text-muted"><img alt="janssen" src="/images/janssen_logo150.png"></span></li>
        <li><span class="small text-muted"><img alt="SanofiPasteur" src="/images/san.jpg"></span></li>
        <li><span class="small text-muted"><img alt="glaxosmithkline" src="/images/glaxosmithkline.jpg"></span></li>
      </ul><br>
      <h4>Testimonials</h4>
      <ul class="list-unstyled list-spaces">
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“I am <i>living</i> the in-box exercise as you can imagine everything that is happening! I have often smiled (over the past 24 hours) and thought – thank God for Cornerstone and the experiences I have had over the past few months - the simulations are REAL!”<br>
          -- Former Director of Training at a large pharma company</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“I felt the program allowed me to seek my development and it makes me see clearly where I need to improve.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Structured program that maximized learning objectives. I was impressed with the amount of information that was presented in 2 days.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Very intense; great interaction and discussions.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Very thorough program.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Intense, insightful, inspiring. Great training.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Very good. It was exhausting, enlightening, different and wonderful!”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Excellent program, great insight through practical implications.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“Very insightful! Organized and informative. Pushed my personal limits! (in a good way)”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“This program was more than I expected.”</span>
        </li>
        <li>
          <a href=""></a><br>
          <span class="small text-muted">“The video of myself allowed insight to my behavior/actions/personality when confronting issues.”</span>
        </li>
      </ul>
    </div>
  </aside>
</div>
</div>

<!-- THIS SECTION HAS NO CONTENT!!! -->
<section id="social">
<div class="container">
  <div class="wrapper clearfix">
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_button_tweet"></a> <a class="addthis_button_linkedin_counter"></a>
    </div>
  </div>
</div>
</section>
