---
title: Cornerstone | Our Approach
---

<div class="container text-center">
  <br>
  <h2 class="text-center top-space">Our Approach</h2>
</div>

<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <i class=""></i>
            <div id="imgbordera">
              <i class=""><video controls="" poster="/images/nominate.png" preload="none"><source src="/images/nomination.mp4"> <source src="/images/nomination.ogg"> <source src="/images/nomination.webm"> Your browser does not support this video.</video></i>
            </div>
            <h2 class="text-left" style="color:#000080">NOMINATE&nbsp;&nbsp;<i class="fa fa-film" style="font-size: 1em; display: inline; color:#000080" title="Play video."></i></h2>CANDIDATES
            <div class="linea"></div>
          </div>
          <div class="h-body text-left">
            <p>Cornerstone’s nomination tools help you identify the right people to place into your leadership development program. Our trademarked interviewing system helps you evaluate candidate potential by reducing personal bias and increasing objectivity.</p><br>
            <br>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <i class=""></i>
            <div id="imgborderb">
              <i class=""><video controls="" poster="/images/explore.png" preload="none"><source src="/images/explore.mp4"> <source src="/images/explore.ogg"> <source src="/images/explore.webm"> Your browser does not support the video tag.</video></i>
            </div>
            <h2 class="text-left" style="color:#A6181B">EXPLORE&nbsp;&nbsp;<i class="fa fa-film" style="font-size: 1em; display: inline; color:#A6181B" title="Play video."></i></h2>JOB FIT
            <div class="lineb"></div>
          </div>
          <div class="h-body text-left">
            <p>Cornerstone’s Realistic Job Preview allows the candidate to explore a new and different role risk-free. This two-day interactive workshop helps identify strengths and areas for growth through self-assessment. As a result, every candidate leaves with a customized development plan.<br>
            <br></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <i class=""></i>
            <div id="imgborderc">
              <i class=""><video controls="" poster="/images/build.png" preload="none"><source src="/images/build.mp4"> <source src="/images/build.ogg"> <source src="/images/build.webm"> Your browser does not support the video tag.</video></i>
            </div>
            <h2 class="text-left" style="color:#FF7722">BUILD&nbsp;&nbsp;<i class="fa fa-film" style="font-size: 1em; display: inline; color:#FF7722" title="Play video."></i></h2>SKILLS
            <div class="linec"></div>
          </div>
          <div class="h-body text-left">
            <p>During this step, the candidate will begin implementing their <b>Personal Development Plan</b> at home with the guidance of a coach or mentor. The objective is to practice and apply what they learned at the workshop and sharpen their skills.<br>
            <br></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <i class=""></i>
            <div id="imgborderd">
              <i class=""><video controls="" poster="/images/certify.png" preload="none"><source src="/images/measure.mp4"> <source src="/images/measure.ogg"> <source src="/images/measure.webm"> Your browser does not support the video tag.</video></i>
            </div>
            <h2 class="text-left" style="color:#FFAA00">CERTIFY&nbsp;&nbsp;<i class="fa fa-film" style="font-size: 1em; display: inline; color:#FFAA00" title="Play video."></i></h2>READINESS
            <div class="lined"></div>
          </div>
          <div class="h-body text-left">
            <p>Once the candidate reaches the top step, it’s time to evaluate how well they have converted their potential into actual skills. Using a battery of customized simulations, candidates are evaluated to determine whether they are <b>Ready Day One</b> or if additional development is needed.<br>
            <br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron top-space">
  <h2 class="text-center top-space">Advantages of Cornerstone’s Innovative Leadership Development Programs</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h3 class="text-left" style="color:#A6181B">FEATURES</h3>
        <div class="linea"></div><br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Simulates Actual Job Functions<br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Based on Exercise Effect Research<br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Naturally Developmental<br>
        <br>
        <h3 class="text-left" style="color:#A6181B">BENEFITS</h3>
        <div class="linea"></div><br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Measure Readiness – Not Potential<br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Appropriate for Internal Decision Making<br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Provide Skills-Based Developmental Planning<br>
        <i class="fa fa-check-square-o" style="color:#A6181B"></i>&nbsp;Generate Performance-Based Competency Evaluations<br>
      </div>
      <div class="col-sm-4">
        <br>
        The most effective talent developmental process prepares employees for the basic elements of a new and different job before they assume those roles. Our task-based assessment centers (TBACs) are achievement measures that can be likened to BAR exams given to new law school graduates.<br>
        <br>
        Participants of our program engage in focused training and/or development activities to gain the knowledge, skills and abilities necessary in key job functions. When Cornerstone graduates are promoted, they land on their feet making the transition much smoother for both the employee and the organization.<br>
        <br>
        We have successfully developed and facilitated programs for first-level and senior-level management, as well as other roles for Sales, Managed Markets, Marketing, and Medical Affairs.
      </div>
    </div>
  </div>
</div>
