---
title: Cornerstone | Contact US
---

<!-- container -->
<div class="container">
  <div class="row">
    <!-- Article main content -->
    <article class="col-sm-9 maincontent">
      <header class="page-header">
                  <h2 class="text-left top-space">Contact</h2>
      </header>
      <p>
        If you would like to know more about our process, interested in partnering with us, or would like to request our White Papers, please complete the form below.
      </p>

          <form action="http://remailer.savvysoftworks.com" method="post" >
              <input type="hidden" name="public_token" value="a2277d710e38c0275b4038196d1fec3479126b0d4868f03f812acbb3d9810c64"/>
              <input type="hidden" name="after_success" value="http://leadwithcornerstone.com/index.html"/>
              <input type="hidden" name="after_failure" value="http://leadwithcornerstone.com/index.html"/>
                <br>

          <div class="row">
            <div class="col-sm-4">

                              <input type="text" class="form-control" placeholder="Your name" name="inputName" required="true" value="" id="inputName" />
            </div>
            <div class="col-sm-4">
                              <input type="text" class="form-control" placeholder="Your email" name="inputEmail" required="true" value="" id="inputEmail" />

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
                              <textarea class="form-control" type="text" rows="9" placeholder="Type your message here..." name="inputMessage" id="inputMessage" ></textarea>

            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 text-right">
              <input class="btn btn-action" type="submit" value="Send message">
            </div>
          </div>

          </form>
    </article>
    <!-- /Article -->

    <!-- Sidebar -->
    <aside class="col-sm-3 sidebar sidebar-right">

      <div class="widget">
        <h4>Address:</h4>
        <address>
          212 Mary Street
          <br>Carnegie, PA 15106
        </address>
        <h4>Phone:</h4>
        <phone>
          <a href="tel:1-412-429-6400">(412) 429-6400</a>
        </phone>
        <h4>Fax:</h4>
        <phone>
          <a href="tel:1-412-429-6450">(412) 429-6450</a>
        </phone>
      </div>

    </aside>
    <!-- /Sidebar -->

  </div>
</div>
<!-- /container -->
