---
title: Cornerstone
---

<header id="head">
  <div class="container">
    <div class="row">
      <a href="/readydayone.html"><img class="pull-right" src="/images/rday1_f.png" alt="Ready Day One"></a>
      <h1 class="lead">Building Great Leaders...<i>Together</i></h1>
      <p class="tagline">Click below to learn how your new leaders can be Ready Day One.</p>
      <a class="btn btn-default btn-lg" role="button" href="/readydayone.html">Ready Day One</a>
    </div>
  </div>
</header>
<!-- /Header -->
<!-- Client Logo Bar -->
<div class="row">
  <h2 class="text-center">
    <img class="logo_bar" src="/images/client_logos/web/web_janssen.png">
    <img class="logo_bar" src="/images/client_logos/web/web_regeneron.png">
    <img class="logo_bar" src="/images/client_logos/web/web_shionogi.png">
    <img class="logo_bar" src="/images/client_logos/web/web_sanofipasteur.png">
    <img class="logo_bar" src="/images/client_logos/web/web_boehringer.png">
    <img class="logo_bar" src="/images/client_logos/web/web_biogen.png">
  </h2>
</div>
<br>

<!-- Intro -->
<div class="container">
  <h2 class="text-center top-space">Are Your Future Leaders Prepared?</h2>
  <div class="row">
    <div class="col-sm-4 col-sm-push-1">
      <h2 class="text-center">
        <i class="fa fa-check-square-o fa-2x" style="color:#A6181B"></i>
      </h2>
      Cornerstone Management Resource Systems designs and implements experiential
      leadership development programs that help current and future leaders build and
      strengthen their management skills. We specialize in Leadership Development,
      Management Development, Talent Assessment, and Talent Management in the
      Pharmaceutical, Biotech and Medical Device industries.<br>
    </div>
    <!-- <div class="col-sm-4">
      <img src="/images/rday1.png" alt="Ready Day One">
    </div> -->
    <div class="col-sm-4 col-sm-push-3">
      <h2 class="text-center">
        <i class="fa fa-check-square-o fa-2x" style="color:#A6181B"></i>
      </h2>
      Our innovative process identifies talented individuals, offers a realistic job
      preview, provides skills-based developmental planning and measures readiness to lead
      in new and different jobs. Simply put, Cornerstone is
      the leader in leadership development.<br>
    </div>
  </div><br>
</div>
<!-- /Intro-->
<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>The Cornerstone Experience</h3>
        <br>
        Watch this short video to learn more about our research-based approach for developing future leaders.
        <br><br>
        <video poster="/images/step.jpg" controls preload="none">
          <source src="/images/promo.mp4">
          <source src="/images/promo.ogg">
          <source src="/images/promo.webm">
          Your browser does not support the video tag.
        </video>
        <span STYLE="font-size: small; color: #000"><a href="/team.html">Joe Thoresen</a> and <a href="/team.html">Carl Thoresen</a> explain the Cornerstone Experience.</span><br><br>
      </div>
      <div class="col-sm-6">
        <h3>Why Choose Cornerstone?</h3>
        <br>
        <h4 class="text-left" style="color:#A6181B">
          <h3d>Reduce the Learning Curve</h3d>
        </h4>
        <div class="linea"></div>
        <br>
        Employees who are prepared for a new job before they even get there will be much
        more efficient and effective from the very first day. The need for on-the-job training is
        virtually eliminated.<br><br>
        <h4 class="text-left" style="color:#A6181B">
          <h3d>Increase Employee Retention</h3d>
        </h4>
        <div class="linea"></div>
        <br>
        People are more inclined to stay with their current employer when an established
        career path is in place. This saves your organization the significant time and expense
        required to recruit, hire and train new employees.<br><br>
        <h4 class="text-left" style="color:#A6181B">
          <h3d>Attract More Top Talent</h3d>
        </h4>
        <div class="linea"></div>
        <br>
        With a solid development process in place, your company becomes more attractive to
        the best and brightest who want to become part of an organization that values
        employee development and provides exciting opportunities to excel.<br><br>
        <h4 class="text-left" style="color:#A6181B">
          <h3d>Give Your Company a Competitive Edge</h3d>
        </h4>
        <div class="linea"></div>
        <br>
        Effective leaders strengthen your organization and ultimately save valuable resources,
        placing your company in a better position in today’s competitive market.<br><br>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /Highlights -->

