---
title: Cornerstone | Meet the Team
---
<!-- Intro -->
<div class="container text-center">
  <br>
  <h2 class="text-center top-space">Our Team</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/joe.jpg" alt="Joe Thoresen">
          <h4>Joe Thoresen</h4>        
          <h6>Chairman & Founder</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/joe.jpg" alt="Joe Thoresen">
                <h4 class="text-center">Joe Thoresen</h4>        
                <h6 class="text-center">Chairman & Founder</h6>
                <!-- When adding LinkedIn icons remove preceding </h6> tag
                <br><br>
                <a href="https://www.linkedin.com/in/joe-thoresen-9237a375"><i class="fa fa-linkedin-square" style="font-size: 2em; color:steelblue"; title="Visit Joe's LinkedIn profile."></i></a>
                </h6> -->
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Joe Thoresen, Cornerstone’s founding consultant, became a licensed industrial/ organizational psychologist in 1976. After graduate school, he joined the team at Rohm and Haas, where he specialized in hiring, selection, and management training. Joe attained the title of Manager of Training and Organization Development before leaving to begin a consulting career. He was one of the first consultants to specialize in applications of the assessment center method. In 1983, Joe founded Cornerstone Management Resource Systems, a company focused on applying real-world experience and published research to improvements in assessment center methodology. This effort grew into the creation of an internal promotion/development process and an entirely different type of assessment center.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/carl.jpg" alt="Carl Thoresen">
          <h4>Carl Thoresen, Ph.D.</h4>        
          <h6>President</h6>
          <!-- <br><br>
          <a href="https://www.linkedin.com/in/carl-thoresen-25aa725"><i class="fa fa-linkedin-square" style="font-size: 2em; color:steelblue"; title="Visit Carl's LinkedIn profile."></i></a>
          </h6> -->
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/carl.jpg" alt="Carl Thoresen">
                <h4 class="text-center">Carl Thoresen, Ph.D.</h4>        
                <h6 class="text-center">President</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Carl joined the Cornerstone team after working as Assistant Professor of industrial/organizational psychology at Tulane University. As an internationally recognized author and researcher on employee selection, job attitudes, employee assessment, and the role of personality in job performance, Carl brings a unique, research-oriented perspective to the design and implementation of Cornerstone’s programs. He has extensive training and experience in test development and validation.After graduating from Northwestern University, Carl earned an M.S. degree in organizational behavior from Cornell University. He later completed his Ph.D. in human resource management with a minor concentration in personality and social psychology at the University of Iowa.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/denise.jpg" alt="Denise Meyer Kennell">
          <h4>Denise Meyer Kennell, M.S.</h4>        
          <h6>Director of Operations/Client Services</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/denise.jpg" alt="Denise Meyer Kennell">
                <h4 class="text-center">Denise Meyer Kennell, M.S.</h4>        
                <h6 class="text-center">Director of Operations/Client Services</h6>
                <!-- <br><br>
                <a href="https://www.linkedin.com/in/denise-meyer-kennell-7079203"><i class="fa fa-linkedin-square" style="font-size: 2em; display: inline; color:steelblue"; title="Visit Denise's LinkedIn profile."></i></a>
                </h6> -->
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Denise brings a wealth of diverse management and training experience to Cornerstone. She came to Cornerstone from a position as senior manager with America Online (AOL), where her responsibilities included career/leadership development, training, policy writing, data analysis, and online programming. While at AOL, Denise managed both employees and volunteers from a remote environment – experience that she now puts to work for Cornerstone’s clients.Denise’s degree in industrial/organizational psychology is as critical in developing the content of our programs as her IT experience is in delivering them. In addition to her contributions to designing training materials and Job Function Simulations, she was instrumental in creating our online evaluation and report-writing processes. Denise holds a B.F.A. from Carnegie Mellon University and an M.S. from Kansas State University.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/jackie.jpg" alt="Jackie Hodges">
          <h4>Jackie Hodges</h4>        
          <h6>Business Development/Program Facilitator</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/jackie.jpg" alt="Jackie Hodges">
                <h4 class="text-center">Jackie Hodges</h4>        
                <h6 class="text-center">Business Development/Program Facilitator</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Jackie brings more than 25 years’ experience from the pharmaceutical industry. She has received many awards and promotions including District Manager, Regional Director and Executive Director for Boehringer Ingelheim’s U.S. Prescription Medicine Training Organization in Southbury, Connecticut. In that role she provided strategic oversight for field sales training, management development, managed markets training as well as marketing training. She served as the international training lead for a global sales initiative and worked closely with sales leaders in Japan, Italy, Spain, France and Germany. Jackie was also Vice President, Learning and Development at Ther-Rx, a specialty pharmaceutical company which focused on women’s health. What is most remarkable about Jackie is her ability to bring people together. She understands how their individual roles connect with the greater purpose of attaining corporate goals. She is an experienced leader who knows how to work well as a strategic partner with Senior Leadership. Jackie has a BS in Education from the University of Alabama in Birmingham and successfully completed a Senior Leadership Development program sponsored by the University of Michigan – Ross School of Business.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/alex.jpg" alt="Alex Loya">
          <h4>Alex Loya</h4>        
          <h6>Manager of Technical Operations</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/alex.jpg" alt="Alex Loya">
                <h4 class="text-center">Alex Loya</h4>        
                <h6 class="text-center">Manager of Technical Operations</h6>
                <!-- <br><br>
                <a href="https://www.linkedin.com/in/alex-loya-658a282a"><i class="fa fa-linkedin-square" style="font-size: 2em; display: inline; color:steelblue"; title="Visit Alex's LinkedIn profile."></i></a>
                </h6> -->
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Alex’s role includes coordination of projects to design, develop, program, test, install, and maintain Cornerstone’s proprietary state-of-the-art software and eLearning Platform. His behind-the-scenes, hands-on approach ensures that all of our programs are executed in a streamlined, professional manner for our clients.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/kimcatania.jpg" alt="Kim M. Catania">
          <h4>Kim M. Catania</h4>        
          <h6>Consultant/Learning Strategist</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/kimcatania.jpg" alt="Kim M. Catania">
                <h4 class="text-center">Kim M. Catania</h4>        
                <h6 class="text-center">Consultant/Learning Strategist</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Kim has held multiple positions in the pharmaceutical industry over the past 20 years and has worked for companies such as; Abbott Laboratories, Bayer Corporation, Sepracor, Discovery Laboratories and Acorda Therapeutics. She is proficient in Instructional design, interactive meeting design, adult-learning and has created multiple collaborative workshops as well as educational learning modules.  Kim has also focused on talent development and skill/competency-based assessments, as well as extensive coaching to personnel in a wide range of career levels. She has been an integral part in building and restructuring multiple sales forces/teams in preparation for product launches and company growth opportunities.  Her expertise also includes managing commercial team compliance, implementation of field-based compliance monitoring systems, development of a complete educational platform for specialty field forces (including iPad roll-out and interactive workshop) and promotional material development. Her background includes sales leadership, project management, and product launch experience. She also has experience with Pharmaceutical, Biotech, Primary Care, Institutional, Specialty, and Managed Markets/Market Access Commercial Teams.  Her accomplishments have been recognized with numerous awards for sales excellence, leadership performance and peer recognition.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/david.jpg" alt="David A. Jencen, Ph.D.">
          <h4>David A. Jencen, Ph.D.</h4>        
          <h6>Consultant/Medical Affairs</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/david.jpg" alt="David A. Jencen, Ph.D.">
                <h4 class="text-center">David A. Jencen, Ph.D.</h4>        
                <h6 class="text-center">Consultant/Medical Affairs</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              David brings more than 20 years of biopharmaceutical industry Medical Affairs experience with companies including Procter & Gamble Pharmaceuticals, Boehringer Ingelheim, and Novo Nordisk.   As a Medical Affairs consultant he has partnered with clients on projects ranging from global excellence in medical science liaison (MSL) performance, stakeholder engagement strategies, and presentation skills development.  He has been invited to deliver Medical Affairs training programs in the US, Singapore, Taiwan, and China.  He also coaches and mentors aspiring MSLs seeking to secure their first role, as well as Medical Affairs professionals in mid-career who are considering a change.  He blogs and hosts a LinkedIn discussion group, both focused on the MSL. Over his industrial career he has directed several MSL teams and also served as Operations Director for MSL organizations. While at Boehringer Ingelheim he was chief architect of the original MSL training and development program, directing a team to develop scientific and professional training & development programming across 4 different therapeutic areas.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/paul.jpg" alt="Paul Scarrone">
          <h4>Paul Scarrone</h4>        
          <h6>Senior Software Engineer</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/paul.jpg" alt="Paul Scarrone">
                <h4 class="text-center">Paul Scarrone</h4>        
                <h6 class="text-center">Senior Software Engineer</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Paul has experience designing, developing, testing and deploying web applications and complex software systems. He has designed data organization and storage solutions within multiple environments and has been responsible for server maintenance and domain management support. He has trained companies about the benefits and cost savings of Cloud based and Open Source technologies. In addition to consulting, Paul has taught high school computer science classes, and is presently an adjunct professor at Westmoreland County Community College.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>  
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/eric.jpg" alt="Eric Thoreson">
          <h4>Eric Thoresen</h4>        
          <h6>Business Manager</h6>
          <!-- <br><br>
          <a href="https://www.linkedin.com/in/eric-thoresen-92685320"><i class="fa fa-linkedin-square" style="font-size: 2em; display: inline; color:steelblue"; title="Visit Eric's LinkedIn profile."></i></a>&nbsp;<a href="mailto:eric@leadwithcornerstone.com" target="_top"><i class="fa fa-envelope" style="font-size: 2em; display: inline; color:steelblue"; title="Send Eric an email."></i></a> 
          </h6>-->
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/eric.jpg" alt="Eric Thoreson">
                <h4 class="text-center">Eric Thoresen</h4>        
                <h6 class="text-center">Business Manager</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              In addition to overseeing the day-to-day operations of Cornerstone, Eric is responsible for dealing with legal matters including contracts, trademarks, copyrights and human resource issues. He also assists in the administration of Cornerstone’s intraspec® and job function simulation programs. Eric has a bachelor’s degree from Muskingum University, as well as a certificate in Human Resources Management from La Roche Collage. He also holds a certificate in Paralegal Studies from Duquesne University, where he became a member of Lambda Epsilon Chi, the national honor society for paralegals and legal assistants.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/joyce.jpg" alt="Joyce Thoresen">
          <h4>Joyce Thoresen</h4>        
          <h6>Secretary/Treasurer</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/joyce.jpg" alt="Joyce Thoresen">
                <h4 class="text-center">Joyce Thoresen</h4>        
                <h6 class="text-center">Secretary/Treasurer</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Joyce is proud to have been involved in every aspect of the business since Cornerstone was founded in 1983. From the beginning, she was responsible for establishing the operating functions of the company and providing support to Joe as he designed and created content for their many clients. She took responsibility for designing the evaluation guides and final reports as well as designing the marketing and promotional materials. Joyce is a graduate of the University of Tennessee with a BS degree in English. One of her most critical tasks involved the proof reading of all of the final feedback reports. Joyce is very proud of her family’s success and although no longer involved in the day-to-day activities of the company, she fills in when needed and helps make decisions on the corporate level.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <button type="button" class="btn-team" data-toggle="modal" data-target="#myModal">      
        <div class="h-caption">
          <img src="/images/becky.jpg" alt="Becky Watts">
          <h4>Becky Watts</h4>        
          <h6>Accounting/Bookkeeping</h6>
          <div class="linec"></div>
        </div>      
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title" id="myModalLabel">
              <h2 class="text-center">
                <img src="/images/becky.jpg" alt="Becky Watts">
                <h4 class="text-center">Becky Watts</h4>        
                <h6 class="text-center">Accounting/Bookkeeping</h6>
              </h2>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Becky has a BS degree in Accounting from Liberty University and serves as liaison with our CPA firm. She provides oversight for all or our accounting functions with a focus on accounts receivable and payable. Becky’s work is a critical component to our company to assure timeliness of payments and works to keep our company business processes flowing smoothly.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>