---
title: Cornerstone | ReadyDayOne
---

<header class="rday1head container">
    <div class="col-md-8">
      <h1 style="color:#902A1C;">Ready Day One</h1>
      <h3>First Line Sales Leaders Preparation and Development</h3>
      <p><span style="color:#902A1C;"><strong>Ready Day One&trade;</strong></span> is Cornerstone's state-of-the-art software and e-Learning technology designed to simulate the true business environment of today’s First Line Sales Leaders.  We are excited to share with you our new, ground-breaking e-Learning experience and continue to pioneer digital tools and capabilities to exceed the needs of the evolving marketplace and fast-paced development environment</p>
      <ul>
        <li><a href="#gallery">View the Gallery</a></li>
        <li><a href="#learnmore">Learn more about Ready Day One</a></li>
        <!-- <li>Try the online demo - <i>Coming soon</i></li> -->
      </ul>
    </div>
    <div = class="col-md-4">
      <img src="/images/rday1.png" alt="Ready Day One" style="float:right;">
    </div>
  </header>

  <section id="gallery">
  <br>
  <div class="container gal-container">
    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img src="/images/rday1/dashboard.png">
        </a>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/dashboard.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Dashboard</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#3">
          <img src="/images/rday1/assessments.png">
        </a>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/assessments.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Assessments Screen</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#4">
          <img src="/images/rday1/devchecklist.png">
        </a>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/devchecklist.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Personal Development</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</section>
    <div class="container" id="learnmore">
      <h3 style="color: #902A1C; font-weight: bold;">
        Ready Day One
      </h3>

      <p>
        Cornerstone’s READY DAY ONE™ approach in developing program content is based upon a thorough job analysis of the target roles, functions and skills required for successful job performance and incorporates the core principles and best practices from industrial/organizational psychology. Inside our Ready Day One Program you will find:
      </p>

      <ul>
        <li>Interactive Inbox/email simulations</li>
        <li>In-depth evaluation tools</li>
        <li>Skill development planning and monitoring</li>
        <li>Supplementary customized coaching & video simulations</li>
        <li>Interactive eLearning modules</li>
        <li>Internal communication/notification tools for Candidates and Managers</li>
        <li>Real-time analytics to track Candidate progress</li>

      </ul>

      <p>
        Cornerstone custom-designs and implements leadership development programs that help organizations transition their top talent into leadership roles. Get in touch today, and let us help you move your team forward.
      </p>

    </div>
