---
title: Cornerstone | ReadyDayOne
---

<header class="rday1head container">
    <div class="col-md-8">
      <h1 style="color:#902A1C;">Ready Day One</h1>
      <h3>First Line Sales Leaders Preparation and Development</h3>
      <p><span style="color:#902A1C;"><strong>Ready Day One&trade;</strong></span> is Cornerstone's state-of-the-art software and e-Learning technology designed to simulate the true business environment of today’s First Line Sales Leaders.  We are excited to share with you our new, ground-breaking e-Learning experience and continue to pioneer digital tools and capabilities to exceed the needs of the evolving marketplace and fast-paced development environment</p>
      <ul>
        <li><a href="#gallery">View the Gallery</a></li>
        <li><a href="#learnmore">Learn more about Ready Day One</a></li>
        <li>Try the online demo - <i>Coming soon</i></li>
      </ul>
    </div>
    <div = class="col-md-4">  
      <img src="/images/rday1.png" alt="Ready Day One" style="float:right;">
    </div>
  </header>

  <section id="gallery">
  <br>
  <div class="container gal-container">
    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img src="/images/rday1/dashboard.png">
        </a>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/dashboard.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Dashboard</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#2">
          <img src="/images/rday1/login.png">
        </a>
        <div class="modal fade" id="2" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/login.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Login</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#3">
          <img src="/images/rday1/assessments.png">
        </a>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/assessments.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Assessments Screen</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#4">
          <img src="/images/rday1/events.png">
        </a>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/events.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Events Page</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#5">
          <img src="/images/rday1/menu.png">
        </a>
        <div class="modal fade" id="5" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/menu.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Navigation Menu</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#6">
          <img src="/images/rday1/schedule.png">
        </a>
        <div class="modal fade" id="6" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rday1/schedule.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Ready Day One Schedule Page</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</section>
    <div class="container" id="learnmore">
      <h3 style="color: #902A1C; font-weight: bold;">
        Ready Day One
      </h3>
      
      <p>
        Cornerstone’s READY DAY ONE™ approach in developing program content is based upon a thorough job analysis of the target roles, functions and skills required for successful job performance and incorporates the core principles and best practices from industrial/organizational psychology.  We recognize that the results of our programs are typically factored into client promotional decisions, and strive to create processes that are universally fair and help protect our clients from employment litigation. Thus, we insist on compliance with the Uniform Guidelines on Employee Selection Procedures set forth by the Equal Employment Opportunity Commission (EEOC), as well as the Guidelines and Ethical Considerations for Assessment Center Operations endorsed by the Society for Industrial and Organizational Psychology (SIOP).
      </p>

      <ul>
        <li>Value added #1</li>
        <li>Value added #2</li>
        <li>Value added #3</li>
        <li>Value added #4</li>
        <li>Value added #5</li>
      </ul>

      <p>
        Stuff something more stuff something else, and then like some other things too. Followed by more stuff and a few odds and ends then a bit more gibberish. Then finally something, something else, something other than the previous somethings, and nothing that looks like something.
      </p>

    </div>